<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<img>
<h1><%= title %></h1>
<img src='<%= image %>' alt='Sighting image' id='sighting_img'>
<p>Nickname: <%= nickname %></p>
<p>Observation Date: <%= date %></p>
<p>Location: <%= location %></p>
<p>Identification: <%= identification %></p>
<p>Description: <%= description %></p>
</body>
</html>