<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />

    <script type="text/JavaScript" src="https://MomentJS.com/downloads/moment-with-locales.js"></script>
    <script type="module" src="/javascripts/indexeddb.js"></script>
    <script type="module" src="/javascripts/sightings.js"></script>
</head>

<body>
<div class="container">
<!--<h1>-->
<!--    <%= title %>-->
<!--</h1>-->

<!--&lt;!&ndash; Navigation Bar &ndash;&gt;-->
<!--<header class="navbar">-->
<!--    <a href="/">Home</a>-->
<!--    <a href="/add">Add Sighting</a>-->
<!--</header>-->

<div class="grid-header">
    <!-- Navigation Bar -->
    <div class="navbar-container">
        <div class="nav-button">
            <a href="/">Home</a>
        </div>
        <div class="nav-button">
            <a href="/add">Add Sighting</a>
        </div>
    </div>

    <!-- Change randomly generated username form -->
    <div id="username_form">
        <form>
            <input type="text" name="username" id="username_input" required minlength="3" maxlength="100">
            <input id="username_btn_set" type="button" value="Change Username">
        </form>
    </div>
</div>

<div class="title-container">
    <h2 class="table-title">
        <%= "List of All Sightings" %>
    </h2>
</div>

<div id="table-container">
    <!-- Table with all sightings -->
    <table id="sightings_table">
        <thead>
        <tr class="headers"><th>Image</th><th id="date-header">Datetime</th><th>Identification</th><th>User</th></tr>
        </thead>

        <tbody>

        <% sightings.forEach((sighting, i)=> {%>
            <tr onclick="window.location.href = '/sighting?id=<%= sighting._id %>'" class="sighting-row">
                <td>
                    <img src='<%= sighting.image %>' alt='Sighting image' id='sightings_img'>
                </td>
                <td>
                    <%= moment(sighting.observation_date).format('D MMM H:mm') %>
                </td>
                <td>
                    <%= sighting.identification %>
                </td>
                <td>
                    <%= sighting.user_nickname %>
                </td>
            </tr>
        <% }); %>

        </tbody>
    </table>
</div>
</div>
<div class="footer">
    <footer>
        <p>© 2023 Bird Watching. All Rights Reserved.</p>
    </footer>
</div>

</body>

</html>