<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />

    <script type="text/JavaScript" src="https://MomentJS.com/downloads/moment-with-locales.js"></script>
    <script type="module" src="/javascripts/indexeddb.js"></script>
    <script type="module" src="/javascripts/sightings.js"></script>
</head>

<body class="container">

<!-- Navigation Bar -->
<header class="navbar">
    <a href="/">Home</a>
    <a href="/add">Add Sighting</a>
</header>

    <h1>
        <%= title %>
    </h1>

    <!-- Change randomly generated username form -->
    <div id="username_form">
        <form>
            <input type="text" name="username" id="username_input" required minlength="3" maxlength="100">
            <input id="username_btn_set" type="button" value="Change Username">
        </form>
    </div>

<!-- Table with all sightings -->
<table id="sightings_table">

    <thead>
    <tr><th>Image</th><th id="date-header">Datetime</th><th>Identification</th><th>User</th></tr>
    </thead>

    <tbody>

    <% sightings.forEach((sighting, i)=> {%>
        <tr onclick="window.location.href = '/sighting?id=<%= sighting._id %>'" class="sighting-row">
            <td>
                <img src='<%= sighting.image %>' alt='Sighting image' id='sightings_img' width="250" height="200">
            </td>
            <td>
                <%= moment(sighting.observation_date).format('D MMM H:mm') %>
            </td>
            <td>
                <%= sighting.identification %>
            </td>
            <td>
                <%= sighting.user_nickname %>
            </td>
        </tr>
    <% }); %>

    </tbody>
</table>

<div>
    <footer>
        <p>© 2023 Bird Watching. All Rights Reserved.</p>
    </footer>
</div>

</body>

</html>